@import "tailwindcss";
/* @media (max-width: 415px) {
  .bg-center {
    background-position: -583px;
  }
}
@media (min-width: 415px) and (max-width: 430px) {
  .bg-center {
    background-position: -545px;
  }
} */
input,
button,
textarea {
  font-size: 16px; /* prevents iPhone zoom */
  -webkit-appearance: none;
  appearance: none;
}
body:has(.coming-soon) .Header,
body:has(.coming-soon) .Footer {
  display: none !important;
}
@keyframes softBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

.soft-bounce {
  animation: softBounce 1.8s ease-in-out infinite;
}
@keyframes smoothPulse {
  0% { opacity: 0.4; transform: scale(0.9); }
  50% { opacity: 1; transform: scale(1.3); }
  100% { opacity: 0.4; transform: scale(0.9); }
}

.smooth-pulse {
  animation: smoothPulse 1.6s ease-in-out infinite;
}
@keyframes pulseGlow {
  0% { box-shadow: 0 0 0px #00e5ff55; }
  50% { box-shadow: 0 0 20px #00e5ffcc; }
  100% { box-shadow: 0 0 0px #00e5ff55; }
}
.email-input {
  background-image: url("/your-image.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 16px center;
}
.bg-section {
  background-image: url('/bird.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.abhBg {
  background-image: url('/abheroShape.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* For mobile devices */
@media (max-width: 768px) {
  .bg-section {
    background-image: url('/birdp.png');
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  .abhBg {
  background-image: url('/abheroshapephone.svg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
}
