@import "tailwindcss";
/* @media (max-width: 415px) {
  .bg-center {
    background-position: -583px;
  }
}
@media (min-width: 415px) and (max-width: 430px) {
  .bg-center {
    background-position: -545px;
  }
} */
input,
button,
textarea {
  font-size: 16px; /* prevents iPhone zoom */
  -webkit-appearance: none;
  appearance: none;
}
body:has(.coming-soon) .Header,
body:has(.coming-soon) .Footer {
  display: none !important;
}
@keyframes softBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

.soft-bounce {
  animation: softBounce 1.8s ease-in-out infinite;
}
@keyframes smoothPulse {
  0% { opacity: 0.4; transform: scale(0.9); }
  50% { opacity: 1; transform: scale(1.3); }
  100% { opacity: 0.4; transform: scale(0.9); }
}

.smooth-pulse {
  animation: smoothPulse 1.6s ease-in-out infinite;
}
